@import url("josh-c-styles.css");
@import url("../fonts/ClashGrotesk_Complete/Fonts/WEB/css/clash-grotesk.css");
@import url("../fonts/AzeretMono_Complete/Fonts/WEB/css/azeret-mono.css");

:root {
    --primary-color: #61a8389c;
    --primary-color_darker: #61a8385b;
    --accent-color: #0019fa;
    --accent-color-button-press: #15218a;

    --text-color-lighter: #4d504b;
    --text-color-regular: #000000;

    --dark-color-hover: rgb(233, 245, 231);

    /* OG --primary-color: #bed496; */

    --site-background: #ffffff;

    --side-bar-section-margin: 2rem 1rem 2rem 1rem;
    --side-bar-project-heading-margin: 2rem;

    --CG-regular: "ClashGrotesk-Regular";
    --CG-medium: "ClashGrotesk-Medium";
    --CG-light: "ClashGrotesk-Light";

    --AM-bold: "AzeretMono-Bold";
    --AM-semiBold: "AzeretMono-SemiBold";
}

* {
    box-sizing: border-box;
    font-family: "Ubuntu-Sans", sans-serif;
}

.site-wrapper {
    background: var(--site-background);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20rem 1fr;
}

/*===================  

Sidebar 

====================*/

.sidebar {
    grid-column: 1/2;

    background: linear-gradient(180deg,#61a8389c 30%, rgb(183, 221, 168) 100%);

    width: 20rem;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-content: center;

    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

    position: sticky;
    top: 0;
}

.profile-section {
    padding: 1rem 1rem;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile img{
    width: 3.25em;
    height: 3.25em;
    border-radius: 50%;
    box-shadow: 0 0 0 0.200rem green;
}

.profile h1 {
    font-family: var(--CG-medium), 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.profile-icons {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}

.profile-icons svg {
    box-sizing: content-box;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.25rem;
}

.profile-icons svg:hover {
    background-color: var(--primary-color_darker);
}

.project-section {
    padding: 1rem 1rem;
}

.project-section-header {
    border-bottom: 1px solid black;
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
}

.project-card {
    font-size: 1.25rem;
}

.project-card__header {
    font-weight: bold;
    font-family: var(--AM-bold), 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25rem;
    border-radius: 6px;
}

.project-card__header:hover{
    background-color: #a0d080;
}

.project-card__section {
    padding-left: calc( var(--side-bar-project-heading-margin) * 1.5 ); 
    color: #292929;
    border-radius: 6px;
    font-family: var(--CG-medium), 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project-card__section:hover {
    background-color: #a0d080;
}

.project-card__section::before {
    content: "+"
}

.sidebar__title {
    padding: 2rem 0;
    height: fit-content;
    font-size: 4rem;
    margin-top: auto;
    align-self: center;
}

/* Task Section */

.site-main {
    grid-column: 2/3;
    
    padding: 1rem 2rem 4rem 2rem;

    z-index: 1;

    --shadow-color: #0000001e;

    box-shadow:
    -1px 0px 2px var(--shadow-color),
    -2px 0px 4px var(--shadow-color),
 
    -4px 0px 8px var(--shadow-color);
}

.site-main-header {
    display: flex;
}

.site-main-header svg {
    margin-top: 0.25rem;
    margin-left: auto;
    flex: 0 0 auto;

    box-sizing: content-box;
    border-radius: 50%;
    padding: .25rem;
}

.site-main-header svg:hover {
    background-color: var(--dark-color-hover);
}

.site-main-heading {
    flex-grow: 1;

    padding: 0 0 1rem 0;
    font-family: var(--AM-semiBold), 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem; 

    color: var(--text-color-lighter);
    
    border-bottom: 4px solid transparent;

    background:
        /* Inner background (element's fill) */
        linear-gradient(white, white) padding-box,
        /* Outer background (the gradient border) clipped to the border-box */
        linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, var(--primary-color) 15%, var(--primary-color) 85%, rgba(255, 255, 255, 1) 100%);
}

.site-main svg {
    width: 2rem;
    height: 2rem;
}

.task-sections-wrapper {
    width: 90%;
    padding: .75rem;
    margin-bottom: 1rem;
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-list .task-list {
    margin-left: 2.5rem;
    padding-left: 15px;
}

.task {
    padding-top: 0.175rem;
    margin-top: 0.25rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: z-index 0s 0.15s;
}

.task:hover,
.task:focus-within {
    z-index: 9998;
    transition: z-index 0s 0s;
}

.task-checkbox {
    margin: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
}

.task-border-div {
    border: 1px solid red;
}

.task-content { 
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 0 0.125rem 0;
    border-radius: 0.75rem;
    
    /* background-color: rgba(225, 245, 240, 0.445);
    border: 1px solid #efefeb;
    box-shadow:
    1px 2px 2px hsla(212, 92%, 60%, 0.1),
    2px 4px 4px hsla(212, 92%, 60%, 0.1); */

/*     border-left-color: var(--primary-color);
    border-left-width: 5px;
    border-left-style: solid; */

/*     background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;

    background-clip: padding-box, border-box;
    background-origin: border-box;
    border-bottom-left-radius: 1rem; 
    border-bottom-right-radius: 1rem;
    border-bottom: 2px solid transparent;  */


    transition: height 0.05s ease-out;
    transition: transform 0.05s ease;

    height: auto;

    z-index: 2;

    overflow: hidden;
}

.task-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 15%, rgba(235, 235, 235, 1) 85%, rgba(255, 255, 255, 1) 100%);
}

.task-complete { 
    text-decoration: line-through;
}

.task-content:focus,
.task-content:focus-visible,
.task-content :focus-visible
{
    outline: 2px solid rgba(0, 47, 255, 0.205);
    box-shadow:
    1px 2px 2px hsla(212, 92%, 60%, 0.2),
    2px 4px 4px hsla(212, 92%, 60%, 0.2),
    4px 8px 8px hsla(212, 92%, 60%, 0.2);

    transform: translateY(-2px);

    z-index: 9999;
}

.task-content:hover {
    /* background-color: hsl(226, 100%, 97%); */


    z-index: 9998;
    transform: translateY(-2px);

    box-shadow:
    1px 2px 2px hsla(212, 92%, 60%, 0.1),
    2px 4px 4px hsla(212, 92%, 60%, 0.1),
    4px 8px 8px hsla(212, 92%, 60%, 0.1);
}

.task-text {
    font-family: var(--CG-regular), 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.125rem;
    color: rgb(32, 32, 32);
}

.task-sections-wrapper > .task-list > .task > .task-content > .task-text {
    color: black;
    font-size: 1.25rem;
}

.delete-task-button {
    opacity: 0;
    visibility: hidden;
    margin-left: auto;
    margin-right: 1rem;
}

.task-content:hover .delete-task-button {
    opacity: 1;
    visibility: visible;
}

.task__heading {
    font-weight: bold;
    font-size: 1.25rem;
}

.drag-handle {
    position: absolute;
    left: -16px;
    height: 1rem;
    width: 1rem;
    outline: 1px solid red;
    /* 
    //TODO: Permanently remove the drag handles
    */
    display: none;

}

.add-task-button {
    border: none;
    border-radius: 1rem;
    background-color: var(--accent-color);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;

    padding: .5rem 2.5rem;

    box-shadow:
    1px 2px 2px hsla(0, 5%, 76%, 0.4),
    2px 4px 4px hsla(0, 5%, 76%, 0.4);
}

.add-task-button:hover {
    border-radius: 1rem;
    background-color: var(--accent-color-button-press);

    cursor: pointer;

    z-index: 10;
}

.drag-enter {
    opacity: 0.4;
}

.placeholder {
    outline: 2px solid #ccc;
}

/* Utilities */

.debug {
    outline: 1px solid red;
}