@import url("josh-c-styles.css");

:root {
    --primary-color: #bed496;
    --primary-color__darker: #B7D392;

    --site-background: #f4f4f1;

    --side-bar-section-margin: 2rem 1rem 2rem 1rem;
    --side-bar-project-heading-margin: 2rem;
}

* {
    box-sizing: border-box;
    font-family: "Ubuntu-Sans", sans-serif;
}

.site-wrapper {
    background: var(--site-background);
    height: 100vh;
    display: grid;
    grid-template-columns: 25rem 1fr;
}

/* Sidebar */
.sidebar {
    grid-column: 1/2;

    background: var(--primary-color);
    background: linear-gradient(180deg,rgba(190, 212, 150, 1) 25%, rgba(183, 211, 146, 1) 100%);
    width: 25rem;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-content: center;
}

.profile-section {
    padding: var(--side-bar-section-margin);
}

.projects-section {
    padding: var(--side-bar-section-margin);
}

.project-card {
    font-size: 1.25rem;
}

.project-card__header {
    font-weight: bold;
    padding-left: var(--side-bar-project-heading-margin);
    border-radius: 6px;
}

.project-card__header:hover{
    background-color: #a0d080;
}

.project-card__section {
    padding-left: calc( var(--side-bar-project-heading-margin) * 1.5 ); 
    color: #292929;
    border-radius: 6px;
}

.project-card__section:hover {
    background-color: #a0d080;
}

.project-card__section::before {
    content: "+"
}

.sidebar__title {
    padding: 2rem 0;
    height: fit-content;
    font-size: 4rem;
    margin-top: auto;
    align-self: center;
}

/* Task Section */

.site-main {
    grid-column: 2/3;
    
    margin: 4rem;
}

.site-main__header {
    margin-top: 2rem;
}

.task-sections__wrapper {
    width: 90%;
    padding: .75rem;
    margin-bottom: 1rem;
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-list .task-list {
    margin-left: 28px;
    padding-left: 12px;
}

.task {
    padding: .25rem;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.task-checkbox {
    margin: 0 .5rem;
    width: 1.25rem;
    height: 1.25rem;
}

.task-content { 
    display: flex;
    align-items: center;
}

.task-complete { 
    text-decoration: line-through;
}

.task-content:focus {
    outline: 1px solid red;
}

.task-content:hover {
    background-color: hsl(226, 100%, 97%);
}

.delete-task-button {
    opacity: 0;
    visibility: hidden;
}

.task-content:hover .delete-task-button {
    opacity: 1;
    visibility: visible;
}

.task__heading {
    font-weight: bold;
    font-size: 1.25rem;
}

.drag-handle {
    position: absolute;
    left: -10px;
    height: 1rem;
    width: 1rem;
    outline: 1px solid red;
}

.add-task-button {
    border: none;
    border-radius: 1rem;
    background-color: white;
    color: rgb(44, 42, 42);
    font-size: 1rem;

    padding: .5rem 2.5rem;
}

.add-task-button:hover {
    border-radius: 1rem;
    background-color: hsl(226, 100%, 97%);

    cursor: pointer;

    z-index: 10;
}

.drag-enter {
    opacity: 0.4;
}

/* Utilities */

.debug {
    outline: 1px solid red;
}